div {
   background-color: white;
    border:solid 2px, #00796B;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    display: inline-flex;
    line-height: 20px;
    margin: 0 auto;
    color: #00796B;
    box-shadow: 5px 5px 10px gray;

}




p {
    margin: 15px;
    background-color: #121212;
    margin-bottom: 5em;
    width: 110px;
    height: 80px;
    padding: 30px;
    border-radius: 20px, #00796B;
    border:solid 2px, white;
    color: #ffffff;
    font-weight: bold;
   
}

h1 {

  font-family: Tahoma;
  color: black;
  font-size: 45px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border-bottom: 4px solid black;
  padding-bottom: 10px;
  

}
